*{

	margin:0px;
	padding:0px;
}

div#general{
	margin: auto;
	margin-top: 145px;
    margin-left: 0px;
	width: 1050px;
    height: 550px; 
 
}

div#photo{
    text-align: center;
	margin-left: 200px;
	width: 550px;
    height: 500px;

}

div#separador{
    text-align: center;
    margin-top: -450px;
    margin-left: 800px;
    width: 20px;
    height: 450px;

}

div#information{
    text-align: center;
	margin-top: -450px;
	margin-left: 850px;
	width: 550px;
	height: 320px;
	
}

div#space{
	margin-left: 800px;
	width: 349px;
	height: 6px;
}

div#check_in{
	display:flex;
   justify-content: center;
   align-items: center;
   margin-top: -140px;
	margin-left: 850px;
	width: 550px;
    height: 66px;
    
	
}

div#btn{
    margin-top: -123px;
    margin-left: 1350px;
}

input[type=password]{
    width: 80%;
    height: 55px;
    border:1px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    font-size: 18px;
}

input[type=text]{
    width: 80%;
    height: 55px;
    border:1px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    font-size: 18px;
}

input[type=button]{
    width: 80%;
    height: 55px;
    border: 1px #aaa;
    background-color: rgb(12, 197, 12);
    border-radius: 4px;
    margin: 8px 0;
    padding: 8px;	
    color:white;
    font-size: 18px;
}

input[type=submit]{
    width: 80%;
    height: 55px;
    border: 1px #aaa;
    background-color: rgb(12, 197, 12);
    border-radius: 4px;
    margin: 8px 0;
    padding: 8px;   
    color:white;
    font-size: 18px;
}

p{
    color: rgb(0, 0, 0);
    font: 18px "calibri";
}

a{
    color: blue;
    font: 18px "calibri";
}

#btl_login{
    width: 80%;
    height: 55px;
    border: 1px #aaa;
    background-color: rgb(12, 197, 12);
    border-radius: 4px;
    margin: 8px 0;
    padding: 8px;   
    color:white;
    font-size: 18px;    
}





