*{
	margin:0px;
	padding:0px;
}
div#title{
    text-align: center;
    margin-left:200px;
    margin-top: 0px;
    width: 850px;
    height: 150px;
   
}
div#data{
    text-align: center;
    margin-top: 0px;
    margin-left: 150px;
    width: 550px;
    height: 450px;
    
   
}
div#user{
    text-align: center;
    margin-top: -435px;
    margin-left: 700px;
    width: 550px;
    height: 450px;  
}
input[type=password]{
    width: 80%;
    height: 55px;
    border:1px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    font-size: 18px;
}
input[type=text]{
    width: 80%;
    height: 45px;
    border:1px solid #aaa;
    border-radius: 4px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    font-size: 18px;
}

input[type=button]{
    width: 60%;
    height: 55px;
    border: 1px #aaa;
    background-color: rgb(12, 197, 12);
    border-radius: 4px;
    margin-top: 15px;
    padding: 8px;	
    color:white;
    font-size: 18px;
}
p{
    margin-left: 58px;
    margin-top: 10px;
    text-align: left;
    color: rgb(0, 0, 0);
    font:18px "calibri";
}
select{
    margin-top: 8px;
    height: 40px;
    width: 300px;
    font: 18px "calibri";
}
h2{
    font: 30px "calibri";
    margin-bottom: 20px;
}