body{
    padding: 0;
    margin-left: 30px;
    font-family: 18px "calibri";
    background-image: url("../imgs/fondo_banner.jpg");
    background-repeat: no-repeat;
    background-size: 1880px 1800px;
}
div#page{
    display: table;
    width: 97%;
    height: 400px;
}
div#informacion{
    display: inline-flex;
    margin-left: 70px;
}
div#mensaje{
    display: table;
    text-align: center;
}
div#servicios{
    display:table;
    width:45%;
    height: 445px;
    background-color: rgba(195, 236, 199, 0.4);
}
div#botones{
    margin-top: -450px;
    margin-left: 45.2%;
    display: table;
    width: 200px;
    height: 450px;
}
    div#botones button:hover{
        background-color: rgb(10, 134, 30) ;
    }
div#info-botones{
    display: table;
    text-align: center;
    margin-top: -450px;
    margin-left: 57.5%;
    width: 500px;
    height: 441px;
    background-color: rgba(255, 255, 255, 0.6);
}
div#trabajo{
    margin-left: 100px;
    margin-top: 10px;
}
    div#trabajo button:hover{
        background-color: rgb(10, 134, 30) ;
    }
div#contacto{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.contendedor{
    width: 95%;
    max-width: 2300px;
    margin: auto;
}

header nav{
    width: 95%;
    max-width: 2300px;
    height: 80px;
    background: rgba(255, 255, 255, 0.3);
    margin-top: -17px;
}

    header nav ul{
        
        list-style: none;
        overflow: hidden;
    }

        header nav ul li{
            float: left;
        }

            header nav ul li a{
                
               
                display: block;
                padding-top: 30px;
                padding-bottom: 40px;
                font-size: 17px;
                color: rgb(73, 71, 71);
                text-decoration: none;
            }

            header nav ul li a:hover{
                color: rgba(0,0,0);
                font-size: 18px;
            }

.menu-fixed{
    position: fixed;
    z-index: 1000;
    top: -3px;
    height: 100px;
    width: 92%;
    max-width: 2300px;
    box-shadow: 0px 2px 3px rgba(255, 255, 255, 0.3);  
    background: rgba(255, 255, 255, 0.8);
    margin-top: -17px;
    font-size: 22px;
}

h3{
    font-family:Arial;
    color: rgb(53, 52, 52);
}
input[type=button]{
    width: 150px;
    height: 50px;
    border: 2px rgb(10, 134, 30);
    background-color: rgb(12, 197, 12);
    border-radius: 2px;
    margin: 2px 0;
    padding: 8px;	
    color:white;
    font-size: 16px;
}
button{
    width: 150px;
    height: 145px;
    border: 2px rgb(10, 134, 30);
    background-color: rgb(12, 197, 12);
    border-radius: 2px;
    margin: 2px 0;
    padding: 8px;	
    color:white;
    font-size: 18px;
}
p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    width: 97%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: rgba(0,0,0,0.3);
}