*{

	margin:0px;
	padding:0px;
}

div#general{
	margin: auto;
	margin-top: 145px;
    margin-left: 0px;
	width: 1050px;
    height: 550px; 
 
}

div#photo{
    text-align: center;
	margin-left: 200px;
	width: 550px;
    height: 500px;

}

div#separador{
    text-align: center;
    margin-top: -450px;
    margin-left: 800px;
    width: 20px;
    height: 450px;

}

div#information{
    text-align: center;
	margin-top: -450px;
	margin-left: 850px;
	width: 550px;
	height: 320px;
	
}

div#space{
	margin-left: 800px;
	width: 349px;
	height: 6px;
}

div#check_in{
	display: flex;
   justify-content: center;
   align-items: center;
	margin-left: 850px;
	width: 550px;
    height: 66px;
    
	
}







