*{
	margin:0px;
	padding:0px;
}
div#general{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 10%;
    margin-top: 3%;
	width: 80%;
    height: 80%; 
    /*background-color: black;*/
}
div#informacion{
    display: table;
    text-align: center;
    width: 300px;
    height: 550px;
    /*background-color:white;*/
}
div#separador{
    margin-top: 90px;
}
div#title{
    display: inline-flex;
    text-align: center;
    width: 700px;
    /*background-color: tomato;*/
    margin-bottom: 50px;
    margin-top: -300px;
}
div#botones{
    width: 700px;
    display: table;
    text-align: center;

}
div#opciones{
    display: table;
    text-align: center;
    width: 700px;
    height: 500px;
    /*background-color: chartreuse;*/
}
input[type=button]{
    width: 60%;
    height: 55px;
    border: 1px #aaa;
    background-color: rgb(12, 197, 12);
    border-radius: 4px;
    margin-top: 5%;
    margin-bottom: 0%;
    padding: 3%;	
    color:white;
    font-size: 18px;
}
img{
    margin-top: 40%;
}
p{  
    margin-top: 10%;
    margin-bottom: 40%;
    text-align: center;
    color: rgb(0, 0, 0);
    font:18px "calibri";
}