#logo{
	
}
#remitent{
	text-align: center;
	margin-left: 10px;
	width: 500px;
	height: 400px;
	border: 3px solid #8492A6;
}
#destinatario{
	border: 3px solid #8492A6;
	text-align: center;
	margin-left: 570px;
	width: 500px;
	height: 400px;
}
#photo{	
	margin-top: 45px;
	margin-left: 550px;
	width: fit-content;
}
#send{
	width: 308.2px;
  	height: 70px;
	background-color: #1F6D00;
	border-radius: 5px;
	color: white;
	margin-left: 130px;
	font-size:20px;
	padding: 8px;
}

input[type=text]{
	width: 380px;
	height: 60px;
	margin: 10px;
	margin-left: 70px;
	border: 1px solid #8492A6;
	border-radius: 5px;	
	box-sizing: border-box;
	outline: none;	
}