<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <!-- Navigation bar -->
        <nav>

        </nav>

        <div id="main-section">
            <!-- Room selection -->
            <nav id="sidebar">
                <h4>ROOMS</h4>
                {% for room in rooms %}
                    <p class="select-room">{{ room|title }}</p>
                {% endfor %}

            </nav>

            <!-- Message area -->
           <div id="rightside-pannel">
               <!-- Display message -->
               <div id="display-message-section">

               </div>

               <!-- Input message -->
               <div id="input-area">
                   <input type="text" id="user_message" placeholder="Escribe aquí..." autocomplete="off">
                   <button type="button" id="send_message">SEND</button>
                </div>
           </div> 
        </div>

        <!-- Get username -->
        <script type="text/javascript">
            const username = `{{ username }}`;
        </script>


        <!-- SocketIO JS -->
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

        <!-- Custom SocketIO JavaScript-->
        <script src="{{ url_for('static', filename='scripts/socketio.js')}}"> </script>
        
    </body>
</html>