<!DOCTYPE html>
<html>
<head>
	<link  rel="icon" href="{{ url_for('static', filename='imgs/icon_1.png') }}" type="image/png" />
	<meta lang="es">
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %}</title>
	{% block style%}{% endblock %}
</head>
<body>
	{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for ctegory, msg in messages%}
            	<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
  					     <span>{{ msg }}</span>
  					       <button type="button" class="close" style="width: 30px; height: 30px;" data-dismiss="alert" aria-label="Close">
    					       <span aria-hidden="true">&times;</span>
  					       </button>
				      </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
	{% block script %}{% endblock %}
	{% block content %}{% endblock %}
</body>
</html>