{% extends 'index.html' %}
{% block title %}Gestion de pedidos{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/messengerInterface_style.css') }}"/>
{% endblock %}
{% block script%}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript"></script>
{% endblock %}
{% block content %}
    <input type="button" id="home" onclick="alert('Esto es una simulación')" value="HOME">
    <div class='centerTitulo'>
      <tr id="titulo" style="width: 137px;height: 36px;">
        <th colspan="3"><img src="{{ url_for('static', filename='imgs/pedidosTitle.PNG') }}"></th>
      </tr>
    </div>
    

    <div class='centerTable'>
      <table id="izq">
        {% for x in content1 %}
          <tr>
            <td id="uno" name="id">{{x.id}}</td>
            <td id="uno">{{x.senderAddr}}</td>
            <!--<td id="uno"><button onclick="">INFO</button></td>-->
            <td id="uno"><details>
                <summary>Informacion del pedido</summary>
                <p id="blank">REF: #</p>
                <p id="negrita"><B>REMITENTE</B></p>
                <p id="gris"><B>Nombre:</B> {{x.senderName}}</p>
                <p id="negrita"><B>Telefono:</B> {{x.senderPhon}}</p>
                <p id="negrita"><B>LUGAR DE RECAUDO</B></p>
                <p id="gris"><B>Dirección:</B> {{x.senderAddr}}</p>
                <p id="gris"><B>Ciudad:</B> {{x.senderCity}}</p>
                <p id="gris"><B>DESTINATARIO</B></p>
                <p id="gris"><B>Nombre:</B> {{x.destynName}}</p>
                <p id="negrita"><B>Telefono:</B> {{x.destynPhon}}</p>
                <p id="negrita"><B>LUGAR DE DESTINO</B></p>
                <p id="gris"><B>Dirección:</B> {{x.destynAddr}}</p>
                <p id="gris"><B>Ciudad:</B> {{x.destynCity}}</p>
              </details>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
{% endblock %}