{% extends 'index.html' %}
{% block title %}Gestion de pedidos{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/messengerInterface.css') }}"/>
{% endblock %}
{% block content %}
    <input type="button" id="home" onclick="alert('Esto es una simulación')" value="HOME">
		<table id="izq">
      <tr><th colspan="3"><img src="{{ url_for('static', filename='imgs/pedidosTitle.PNG') }}"></th></tr>
    {% for x in content %}
      <tr><td id="uno">001</td><td id="uno">{{x.senderAddr}}</td><td id="uno"><button >INFO</button></td>
    {% endfor %}
		</table>
         <table id="der">
            <tr><th colspan="3"><img src="{{ url_for('static', filename='imgs/descripcionTitle.PNG') }}"></th></tr>
            <tr><td id="blank">   </td><td id="ref">REF: 001</td></tr>
            <tr><td id="negrita"><B>REMITENTE</B></td><td id="blank"> </td></tr>
            <tr><td id="gris"><B>Nombre:</B></td><td id="negro"> </td></tr>
            <tr><td id="gris"><B>Teléfono:</B></td><td id="negro"> </td></tr>
            <tr><td id="negrita"><B>LUGAR DE RECAUDO</B></td><td id="blank"> </td></tr>
            <tr><td id="gris"><B>Barrio:</B></td><td id="negro"> </td></tr>
            <tr><td id="gris"><B>Dirección:</B></td><td id="negro"> </td></tr>
            <tr><td id="gris"><B>Ciudad:</B></td><td id="negro"> </td></tr>
            <tr><td id="negrita"><B>DESTINATARIO</B></td><td id="blank"> </td></tr>
            <tr><td id="gris"><B>Nombre:</B></td><td id="negro"> </td></tr>
            <tr><td id="gris"><B>Teléfono:</B></td><td id="negro"> </td></tr>
            <tr><td id="negrita"><B>LUGAR DE DESTINO</B></td><td id="blank"> </td></tr>
            <tr><td id="gris"><B>Barrio:</B></td><td id="negro"> </td></tr>
            <tr><td id="gris"><B>Dirección:</B></td><td id="negro"> </td></tr>
            <tr><td id="gris"><B>Ciudad:</B></td><td id="negro"> </td></tr>
            <tr><td id="negrita"><B>TOTAL A PAGAR:</B></td><td id="blank"> </td></tr>
            <tr><td id="blank"> </td><td id="blank"> </td></tr>
            <tr><td id="boton"><button id="boton">FINALIZAR Y ARCHIVAR</button></td><td id="blank"> </td></tr>
         </table>
	</body>
{% endblock %}