{% extends 'login.html' %}
{% block title %}
Solicitar pedido
{% endblock %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/signUp_style.css') }}"/>
{% endblock %}
{% block content %}  
    <div id=right>
        <div id="remitente">
            <form>
                <img id="logo" src="{{ url_for('static', filename='imgs/remitente.PNG') }}">
                <input type="text" name="nname" id="tx_Ruser" class="input1" placeholder="Nombre">
                <input type="text" name="adress" id="tx_Raddress" class="input1" placeholder="Direccion">
                <input type="text" name="city" id="tx_Rcity" class="input1" placeholder="Ciudad">
                <input type="text" name="phone" id="tx_Rnumber" class="input1" placeholder="Telefono">
          </form>
        </div>
    </div>
    <div id=right>
        <div id= "photo">
            <img src="{{ url_for('static', filename='imgs/Enviamos_with_icon.PNG') }}">
        </div>
        <div id="destinatario">
            <form>
               <img id="logo" src="{{ url_for('static', filename='imgs/destinatario.PNG') }}" >
                <input type="text" name="nname" id="tx_Duser" class="input1" placeholder="Nombre">
                <input type="text" name="adress" id="tx_Daddress" class="input1" placeholder="Direccion">
                <input type="text" name="city" id="tx_Dcity" class="input1" placeholder="Ciudad">
                <input type="text" name="phone" id="tx_Dnumber" class="input1" placeholder="Telefono">
            </form>
        </div>
    </div>
    <div id= "photo">
        <input type="button" id="btl_login" onclick="alert('Esto es una simulación')" value="Enviar solicitud">
    </div>
{% endblock %}