{% extends 'index.html'}
{% extends 'index.html' %}
{% block title %}
{% endblock %}
{% block style %}
  <link rel="StyleSheet" type="text/css" href="{{ url_for('static', filename='style/orderInterface_style.css') }}"  >
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
    /* Set the size of the div element that contains the map */
    #map {
      height: 400px;  /* The height is 400 pixels */
      width: 100%;  /* The width is the width of the web page */
    }
  </style>
{% endblock %}
{% block content %}
  <h3>My Google Maps Demo</h3>
  <!--The div element for the map -->
  <div id="map"></div>
  <script>
    // Initialize and add the map
    function initMap() {
    // The location of Uluru
      var uluru = {lat: -25.344, lng: 131.036};
      // The map, centered at Uluru
      var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 4, center: uluru});
      // The marker, positioned at Uluru
      var marker = new google.maps.Marker({position: uluru, map: map});
    }
  </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
  <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_22mmPo7vo0NVNw9zmRxhUNt00A0QUgk&callback=initMap">
  </script>
{% endblock %}